* {
 margin: 0;
 padding: 0;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #3d3d3d;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

#login-form {
    width: 380px;
	height: auto;
	background: #fdbf6b;
	border-radius: 5px;
	box-shadow: 0 2px 8px rgba(0,0,0,.05);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 40px 30px;
    background: #1A2226;
}

#login-form input[type=submit]{
    color: #0DB8DE;
    color: #007bff;
    font-size: 26px;
    background-color: transparent;
    background-image: none;
    border-color: #007bff;
    border-radius: 0;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);    
    width: 100%;
    height: 50px;
}

#join {
    color: white;
    text-align: left;
    margin-bottom: 20px;
}

#login-form input[type=text] {
    width: 100%;
    height: 40px;
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    font-size: 18px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #fff;
}

#login-form label{
    font-size: 13px;
    color: #6C6C6C;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#logo {
    width: auto;
    height: 36px;
    padding-left: 3px;
}
  
header {
    overflow: hidden;
    background-color: #333;
    position: relative;
}
#error_code{
    color: red;
    margin-top: 30px;
}

#points {
    position: fixed;
    bottom: 2%;
    right: 2%;
    padding: 10px 20px;
    background-color: #78b13f;
    border: 2px solid white;
    border-radius: 20px;
    font-weight: 700;
    font-size: 20px;
}

#username {
    position: fixed;
    bottom: 10%;
    right: 2%;
    padding: 10px 20px;
    background-color: #78b13f;
    border: 2px solid white;
    border-radius: 20px;
    font-weight: 700;
    font-size: 20px;
}

header #myLinks {
    display: none;
}
#myLinks a{
    border-bottom: 1px black solid;
}
#myLinks a:first-child{
    border-top: 1px black solid;

}
#myLinks a:last-child{
    border-bottom: 2px black solid;
}
#myLinks a:hover{
    background-color: #27363f;
}

header a {
    color: white;
    padding: 16px 16px;
    text-decoration: none;
    background-color: #1A2226;
    font-size: 17px;
    display: block;
}
  
header a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

header .fa{
    font-size: 40px !important;
}
  
.active {
    background-color: #1A2226;
    color: white;
}
.container{
    margin-top: 1em;
    padding: 0.05em 2em;
}
#style_wrapper {
    background: #1A2226;
    padding: 15px 20px;
    border-radius: 10px;
    align-items: center;
    height: auto;
}

footer p {
    color: white;
}

.minecraft_status p{
    color: #78b13f;
    font-size: 20px !important;
    font-weight: bold;
}
.minecraft_status{
    margin-bottom: 10px;
    font-size: 10px !important;
}
.minecraft_status h1, .minecraft_status span{
    font-size: 20px !important;
    font-weight: bold;
}
.commands{
    display: block;
    margin: 10px 0px;
    border-radius: 10px;
    border: 0;
    background-color: #1A2226;
    font-weight: 500;
    color: whitesmoke;
    padding: 20px 50px;
    font-size: 25px !important;
    cursor: pointer;
}

.titel {
    font-size: 50px !important;
    margin: 5px 0px;
    font-weight: bold;
    font-weight: 900;
    text-transform: uppercase;
    shape-image-threshold: calc(0.5 * var(--shape-image-threshold));
    stroke: url(#gradient);
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    text-align: center;
}

.commands:hover{
    background-color: #1a2226c5;
}

.online{
    color: #78b13f;
}
.offline{
    color: red;
}
figure{
    display: inline-block;
    padding: 10px;
    background-color: #4f555a;
    width: auto;
    border-radius: 5px;
}
figure figcaption{
    text-align: center;
    text-emphasis: none;
}
figure img{
    margin: auto;
}
/* mobile css co-pilot :))))))))) */
@media only screen and (max-width: 480px) {
    
    #login-form{
        width: 70%;
        height: auto;
        background: #fdbf6b;
        border-radius: 5px;
        box-shadow: 0 2px 8px rgba(0,0,0,.05);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 40px 30px;
        background: #1A2226;
    }

    body {
      width: 100% !important;
    }

    .container {
      margin-top: 1em;
      padding: 0.05em 0.5em;
    }

    .command {
        width: 70vw !important;
        height: 45vw !important;
    }

    .command_name {
        font-size: 7vw !important;
    }

    .command_price {
        font-size: 5vw !important;
    }

    .titel {
        font-size: 5vw !important;
    }

    #price_popup {
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: -100px;
        background-color: white;
        border-radius: 30px;
        font-size: 20vw !important;
    }

    #not_enough_popup{
        left: 0% !important;
    }
}

/* command css 我喜欢共产主义 */

.command {
    position: relative;
    padding: 10px 20px;
    border: 2px rgb(56, 56, 56) solid;
    display: inline-block;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 10px;
    width: 400px;
    height: 140px;
}

.command_img {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 10px;
    top: 10px;
}

.command_points {
    position: absolute;
}

.command_name {
    position: absolute;
    top: 15px;
    left: 65px;
    font-size: 20px;
}

#description {
    margin: 5px!important;
    background-color: #F4A460;
    width: 200px;
    height: auto;
    min-height: 70px;
    border-radius: 10px;
    position: absolute;
    top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 10px;
    padding: 3px;
}

.command_description {
    font-size: 20px;
    font-weight: bold;
    font-family: Trebuchet MS, sans-serif;
    margin: 0 auto;
    width: 90%;
}

.command_price {
    position: absolute;
    font-weight: 700;
    font-size: 25px!important;
    top: 0px;
    right: 0px;
    margin: 10px;
}

.command_button {
    position: absolute;
    bottom: 0px;
    padding: 2px 40px;
    margin: auto;
    right: 0px;
    margin: 15px 10px;
    color: white;
    background-color: green;
    font-size: 26px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);  
}
.command_button:hover {
    background-color: rgb(7, 85, 7);
}

#price_popup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: auto;
    margin-top: -50px;
    margin-left: -100px;
    font-size: 6vw;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    color: red;
}

.price_popup_animation{
    animation: alternate transform 1s;
}

#not_enough_popup {
    display: none;
    position: fixed;
    background-color: white;
    top: 20%;
    left: 40%;
    margin-top: -50px;
    font-size: 30px !important;
    margin-left: -40px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    color: red;
}

#not_enough_popup p {
    animation: transform 1s infinite ease-in-out;
}


@keyframes transform {
	from { transform:scale(.1); }
	to { transform:scale(1); }
}

#command_search, #filter, #submit {
    border-radius: 5px;
    font-size: 20px;
}

#command_search {
    position: absolute;
    right: 50px;
}

#input_search, #price {
    border-radius: 5px;
    font-size: 20px;
}

#command_search label, #sort_by {
    color: white;
    font-weight: bold;
    font-size: 26px;
}

#sort_by {
    margin-left: 15px;
}