{% extends 'layout.html' %}
{% block title %} Commands {% endblock %}
{% block head %}
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>
<script src="{{url_for('static', filename='js/command.js')}}"></script>

{% endblock %}
{% block content %}

    <div class="container">
        <div id="style_wrapper" style="background: #297faa !important; margin-bottom: 30px">
            <h3 class="titel">Commands</h3>

            <div id="command_search" action="">
                <label for="command_search">Search Commands</label>
                <input id="input_search">
            </div>
            
            <label id="sort_by" for="commands">Category:</label>
            <select name="commands" id="filter" onchange="filter_options()">
                <option value="all" selected="selected" >All</option>
                <option value="spawn">Spawn Commands</option>
                <option value="weather">Weather Commands</option>
                <option value="time">Time Commands</option>

            </select>

            <label id="sort_by" for="price">Price:</label>
            <select name="price" id="price" onchange="filter_options()">
                <option value="all" selected="selected" >All</option>
                <option value="high_price">Highest Price</option>
                <option value="low_price">Lowest Price</option>
            </select>

            <div id="commands">
                {% for command in all_commands%}
                    <div class="command" data-category="{{command['subcategory']}}">
                        <h4 class="command_name">{{ command.name }}</h4>
                        <section id="description">
                            <p class="command_description">{{ command.description }}</p>
                        </section>
                        <p class="command_price"> {{ command.price }} 🪙</p>
                        <img class="command_img"  src="{{command.icon}}">
                    
                        {% if command.mc_command %}
                            <button class="command_button" onclick="mc_command('{{command.id}}', {{ command.price }})">Run</button>
                        {% else %}
                            <button class="command_button" onclick="mc_command('{{command.id}}', {{ command.price }})">Run</button>
                        {% endif %}
                        
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
    
    <div id="price_popup"></div>
    <div id="not_enough_popup">
        <img src="{{url_for('static', filename='images/bad_citizen.png')}}" alt="bad citizen" >
        <p>没有足够的资金 (Not enough points)</p>
    </div>
    <script src="{{url_for('static', filename='js/filter.js')}}"></script>

{% endblock %}