{% extends 'layout.html' %}
{% block title %} Dashboard {% endblock %}
{% block content %}
<div class="container">

    <div id="style_wrapper">
        <div class="minecraft_status">
            <h1>Minecraft Server: 
                {% if status == True %}
                    <span class="online">Online</span>
                {% else %}
                    <span class="offline">Offline</span>
                {% endif %}
            </h1>

        </div>
        
        <br>
        <h3>Online players:</h3>
        <ul id="users_list" style="padding-left: 2em;"></ul>
        <br>
        <h3>Minecraft players:</h3>
        <div style="margin-top: 4px;">
            {% if online_mc_players == False  %}
                <p style="font-size:15px;">There is no active minecraft players</p>
            {% else %}
                {% for mc_play in online_mc_players %}
                    <figure>
                        <img src="{{ mc_play.avatar }}" alt="{{ mc_play.username }}">
                        <figcaption>{{ mc_play.username }}</figcaption>
                    </figure>
                {% endfor %}
            {% endif %}
 
        </div>
    
    </div>

</div>

{% endblock %}